# API KEYS
OPENAI_API_KEY="your_openai_api_key"

# AUDIO SETTINGS
TTS_AUDIO="gTTS"

# MODEL SELECTION
# For chat
CHAT_MODEL_SELECTION="gpt-3.5-turbo-0613"
# For completions
COMPLETION_MODEL_SELECTION="gpt-3.5-turbo-0613"

# FINE TUNED MODELS
FINE_TUNED_MODEL_DATA="curie:ft-personal-2023-05-16-05-11-43"
#FINE_TUNED_MODEL_DATA_001="curie:ft-personal-2023-05-12-06-02-20"

# JSON FILE SETTINGS
TRAINED_DATA="trained_data"
ALL_WORD_DETAILS="all_word_details"
WORD_DETAILS_EMBEDDINGS="word_details_embeddings"

# IMAGE SETTINGS
IMAGE_METHOD="openai"